<div class="slider-buttons">
    <button class="slider-buttons__button slider-buttons__button--prev@@if (is_white){ slider-buttons__button--white}" @click="@@prev-function" v-show="window.width > 1023">
        <span class="arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 62 18" fill="none">
                <path d="M62 9.09408L2 9.09408M2 9.09408L11.8361 17M2 9.09408L11.8361 0.999996" stroke-width="2"/>
            </svg>
        </span>
    </button>
    @@if (is_pagination) {
    <ul class="slider-buttons__dots" v-show="window.width > 1023">
        @@for (var i = 0; i < dots_count; i++) {
                <li class="slider-buttons__dot--pagination@@if (is_white){ slider-buttons__dot--white}" :class="{'isActive': `+ i +` == @@slider-object?.index}" @click="@@dots-function('=`+ i +`')">
                    <a href="#">`+ (i+1) +`</a>
                </li>
                @@if (!is_pagination) {
                    <li class="slider-buttons__dot" v-show="false" :class="{'isActive': `+ i +` == @@slider-object.index}" @click="@@dots-function('=`+ i +`')"></li>
                }
            }
        </ul>
    }
    @@if (is_pagination) {
        <ul class="slider-buttons__dots" v-show="window.width < 1023">
            @@for (var i = 0; i < dots_count; i++) {
                    <li class="slider-buttons__dot--pagination@@if (is_white){ slider-buttons__dot--white}" :class="{'isActive': `+ i +` == @@slider-object?.index}" @click="@@dots-function('=`+ i +`')">
                        <a href="#">`+ (i+1) +`</a>
                    </li>
                }
        </ul>
    }
    @@if (!is_pagination) {
        <div class="slider-buttons__counter">
            <div class="current">{{ @@slider-object?.index+1 }}</div>
            <div class="delim">/</div>
            <div class="length">{{ @@dots_count }}</div>
        </div>
    }
    <button class="slider-buttons__button slider-buttons__button--next@@if (is_white){ slider-buttons__button--white}" @click="@@next-function" v-show="window.width > 1023">
        <span class="arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 62 18">
                <path d="M-6.91158e-07 9.09408L60 9.09408M60 9.09408L50.1639 17M60 9.09408L50.1639 0.999996" stroke-width="2"/>
            </svg>
        </span>
    </button>
</div>