<div class="main-first investment-first">
    <div class="main-first__image" style="--background:url(../img/main_first.png) 50% 50% / cover no-repeat fixed;"></div>
    <div class="main-first__items investment-first__items">
        <div class="main-first__left investment-first__left">
            <h1 class="main-first__title isInnerPage">Большая Дмитровка IX</h1>
            <div class="investment-first__left-bottom">
                <div class="main-first__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 62" fill="none">
                        <path d="M9.09408 1.55795e-08L9.09408 60M9.09408 60L17 50.1639M9.09408 60L0.999998 50.1639" stroke="white" stroke-width="2"/>
                    </svg>
                </div>
                <div class="investment-first__text">
                    Жилой комплекс «Большая Дмитровка IX» расположен на улице Большая Дмитровка, в непосредственной близости от главных автомагистралей столицы — Садовое и Бульварное кольца.Жилой комплекс «Большая Дмитровка IX» расположен на улице Большая Дмитровка, в непосредственной близости от главных автомагистралей столицы — Садовое и Бульварное кольца.Жилой комплекс «Большая Дмитровка IX» расположен на улице Большая Дмитровка, 
                </div>
            </div>
        </div>
        <div class="investment-first__right">
            <!-- <div class="investment-first__pagination">
                @@include("../slider-buttons/slider-buttons.html", {
                    "next-function": "investmentFirstSlider.moveSlider('>')",
                    "prev-function": "investmentFirstSlider.moveSlider('<')",
                    "dots-function": "investmentFirstSlider.moveSlider('=5')",
                    "slider-object": "investmentFirstSlider.slider",
                    "dots_count": 7,
                    "is_pagination": "true",
                    "is_white": true
                })
            </div> -->
            <div class="investment-first__image glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        @@for (i = 0; i < 7; i++) {
                            <li class="glide__slide"><img class="withLoader" src="https://picsum.photos/540/80`+ i +`" alt=""></li>
                        }
                    </ul>
                </div>
                <div class="property-item__slider-bullits glide__bullets" data-glide-el="controls[nav]">
                    @@for (var i = 0; i < 3; i++) {
                        <button class="property-item__slider-bullit glide__bullet" data-glide-dir="=`+ i +`">`+ i +`</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>