.inner-blog {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: vw(60);
        @media all and (max-width: 1023px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0px;
        }
    }
    &__title {
        font-size: vw(60);
        line-height: 100%;
        text-transform: uppercase;
        color: #000000;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            font-size: 25px;
        }
    }
    &__search {
        display: flex;
        align-items: center;
        @media all and (max-width: 1023px) {
            flex-direction: column;
            width: 100%;
        }
        * {
            outline: none;
        }
        input {
            border: 1px solid #C4C4C4;
            width: vw(301);
            height: vw(60);
            padding: 0 vw(20);
            box-sizing: border-box;
            border-radius: 0;
            &,
            *::placeholder {
                font-weight: 300;
                font-size: vw(16);
                line-height: 100%;
                color: #2C2C2C;
            }
            @media all and (max-width: 1023px) {
                width: 100%;
                font-size: 16px;
                margin-bottom: 10px;
                height: 60px;
                padding: 0 20px;
            }
        }
        button {
            height: vw(60);
            padding: vw(20);
            box-sizing: border-box;
            border-radius: 0;
            border: none;
            background: #FFBC19;
            cursor: pointer;
            font-size: vw(18);
            line-height: 100%;
            text-transform: capitalize;
            color: #050505;
            transition: all .3s ease;
            @media all and (max-width: 1023px) {
                width: 100%;
                font-size: 18px;
                padding: 20px;
                height: 60px;
            }
            &:hover,
            &:focus {
                background: #FFCA49;
                border-color: #FFCA49;
            }
        }
    }
    &__results {
        display: flex;
        align-items: center;
        font-size: vw(16);
        line-height: 120%;
        margin-bottom: vw(60);
        @media all and (max-width: 1023px) {
            margin-top: 30px;
            margin-bottom: 0;
            flex-direction: column;
            align-items: flex-start;
            font-size: 16px;
        }
    }
    &__results-left {
        margin-right: vw(20);
        text-transform: uppercase;
        color: #000000;
        @media all and (max-width: 1023px) {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    &__results-right {
        font-weight: bold;
        text-transform: uppercase;
        color: #000000;
        font-size: vw(20);
        @media all and (max-width: 1023px) {
            font-size: 20px;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // grid-template-areas: 
        //     "first first second"
        //     "first first third"
        //     "fourth fiveth fiveth"
        //     "sixth sixth seventh"
        //     "sixth sixth eighth"
        //     "nineth tenth tenth"
        //     "eleventh eleventh twelveth"
        //     "eleventh eleventh theeteenth"
        //     "fourteenth fiveteenth fiveteenth";
        @media all and (max-width: 1023px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;
        }
        grid-template-areas: 
            "first first second"
            "first first third"
            "fourth fiveth fiveth"
            "sixth sixth seventh"
            "sixth sixth eighth"
            "nineth tenth tenth";
        grid-gap: vw(30);
    }
    &__item {
        position: relative;
        &:nth-child(15n+1) {
            grid-area: first;
        }
        &:nth-child(15n+5) {
            grid-area: fiveth;
        }
        &:nth-child(15n+6) {
            grid-area: sixth;
        }
        &:nth-child(15n+10) {
            grid-area: tenth;
        }
        &:nth-child(15n+11) {
            grid-area: eleventh;
        }
        &:nth-child(15n+15) {
            grid-area: fiveteenth;
        }
        @media all and (max-width: 1023px) {
            width: 100%;
            margin-bottom: 20px;
            font-size: 0;
        }
    }
    &__item-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: 2;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &__item-in {
        position: relative;
        z-index: 3;
        padding: vw(30);
        box-sizing: border-box;
        @media all and (max-width: 1023px) {
            padding: 20px;
        }
    }
    &__item-date {
        font-size: vw(20);
        margin-bottom: vw(86);
        line-height: 120%;
        text-transform: uppercase;
        color: #FFFFFF;
        &.isSmall {
            margin-bottom: vw(36);
        }
        @media all and (max-width: 1023px) {
            margin-bottom: 30px;
            font-size: 14px;
        }
    }
    &__item-title {
        font-weight: bold;
        font-size: vw(20);
        margin-bottom: vw(40);
        line-height: 120%;
        text-transform: uppercase;
        color: #FFFFFF;
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: vw(-10);
            left: 0;
            height: vw(2);
            width: vw(50);
            background: #fff;
            @media all and (max-width: 1023px) {
                bottom: -10px;
                width: 50px;
                height: 2px;
            }
        }
        @media all and (max-width: 1023px) {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    &__item-description {
        font-size: vw(16);
        margin-bottom: vw(20);
        line-height: 160%;
        color: #FFFFFF;
        @media all and (max-width: 1023px) {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    &__item:nth-child(15n+2) &__item-description,
    &__item:nth-child(15n+3) &__item-description,
    &__item:nth-child(15n+4) &__item-description,
    &__item:nth-child(15n+7) &__item-description,
    &__item:nth-child(15n+8) &__item-description,
    &__item:nth-child(15n+9) &__item-description {
        @media all and (min-width: 1024px) {
            display: none;
        }
    }
    &__item-button {
        padding-top: vw(10);
        .button {
            margin-top: 0;
        }
    }
    &__pagination {
        a, span {
            color: #000 !important; 
        }
        margin-top: vw(60);
        @media all and (max-width: 1023px) {
            margin-top: 40px;
        }
    }
}